#particle-canvas-team{
    position: relative;
      
    .header-content{
      .canvas {
          background: linear-gradient(to bottom,#262530,#d71b3b);
          width: 100%;
          height: 35vh;
        }
      h3{
          color: white;
          font-size: 48px;
          font-weight: 700;
          line-height: 56px;
          font-family: 'Poppins', sans-serif;
          position: absolute;
          text-transform: uppercase;
          margin: 0;
          padding: 0;
          text-align: center;
          top: 60%;
          left: 50%;
          z-index: 12;
          -webkit-transform: translate3d(-50%,-50%,0);
          transform: translate3d(-50%,-50%,0);
      }
      
  }
}